*.suo
Temp
Code/AllExperiments/bin/
Code/AllExperiments/obj/
Code/UnityPatcher/Library/
Code/BaseRTWorkerRole/bin/
Code/BaseRTWorkerRole/obj/
Code/Common/bin/
Code/Common/obj/
Code/CommonLatest/bin/
Code/CommonLatest/obj/
Code/ProtoModel/bin/
Code/ProtoModel/obj/
Code/Services/bin/
Code/Services/obj/
Code/Tests/bin/
Code/Tests/obj/
Code/ServicesLatest/bin/
Code/ServicesLatest/obj/
Code/ServicesSecret/bin/
Code/ServicesSecret/obj/
/Code/UnityGenrpg/.vs/UnityGenrpg/v15/Server/sqlite3/db.lock
/Code/UnityGenrpg/.vs/UnityGenrpg/v15/Server/sqlite3/storage.ide
.vs
/Code/BaseWebRole/obj
/Code/BaseWebRole/bin
/Code/GanrpgGame/bin
/Code/GenrpgGame/rcf
/Code/GenrpgGame/csx
/Code/GenrpgGame/ecf
/Code/GenrpgGame/obj
/Code/GenrpgClient/Library
/Code/GenrpgClient/AssetBundles
/Code/RealtimeServer/bin
/Code/RealtimeServer/obj
/Code/GenrpgServer/ecf
/Code/GenrpgServer/rcf
/Code/GenrpgServer/bin
/Code/GenrpgServer/obj
/Code/Entities/obj
/Code/Entities/bin
/Code/GameEditor/obj
/Code/GameServer/bin
/Code/GameServer/obj
/Code/GameEditor/bin
/Code/Services/bin
/Code/Services/obj
/Code/GenrpgClient/Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
GenrpgClient.sln
/Code/ServerServices/obj
/Code/ServerServices/bin
/Code/Model/bin
/Code/Model/obj
/Code/GenrpgClient/Logs
/Code/GenrpgClient/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
/Code/GenrpgClient/UserSettings/Layouts/default-2021.dwlt
/Code/ServerEntities/bin
obj
UserSettings
/Code/RTServer/bin
bin
/Code/GenrpgClient/output.txt
/Code/Genrpg.GameServer/*.user
/Code/Genrpg.GameServer/Properties/launchSettings.json
Properties
