<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Env" value="dev"/>
    <add key="AccountsEnv" value="dev"/>
    <add key="AssetsEnv" value="dev"/>
    <add key="PlayersEnv" value="dev"/>
    <add key="SettingsEnv" value="dev"/>
    <add key="WorldsEnv" value="dev"/>
    <add key="MessagingEnv" value="dev"/>
    <add key="PublicIP" value="Your temp VM IP"/>
    <add key="BlobAccountsConnection" value="Your blob endpoint"/>
    <add key="BlobAssetsConnection" value="Your blob endpoint"/>
    <add key="BlobPlayersConnection" value="Your blob endpoint"/>
    <add key="BlobSettingsConnection" value="Your blob endpoint"/>
    <add key="BlobWorldsConnection" value="Your blob endpoint"/>
    <add key="NoSQLAccountsConnection"  value="Your NoSQL endpoint"/>
    <add key="NoSQLAssetsConnection"  value="Your NoSQL endpoint"/>
    <add key="NoSQLPlayersConnection"  value="Your NoSQL endpoint"/>
    <add key="NoSQLSettingsConnection"  value="Your NoSQL endpoint"/>
    <add key="NoSQLWorldsConnection" value="Your NoSQL endpoint"/>
    <add key="ServiceBusConnection" value="Your service bus endpoint"/>
    <add key="EtherscanKey" value=""/>
  </appSettings>
</configuration>