<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Env" value="Dev"/>
    <add key="DbEnv" value="Dev"/>
    <add key="MessagingEnv" value="Dev"/>
    <add key="SQLPlatformConnection" value="SQL Connection Here"/>
    <add key="BlobContentConnection" value="Blob Storage"/>
    <add key="NoSQLWorldDataConnection" value="Mongo Connection"/>
    <add key="NoSQLGameDataConnection" value="Mongo Connection"/>
    <add key="NoSQLPlayerDataConnection" value="Mongo Connection"/>
    <add key="ServiceBusConnection" value="Service bus connection"/>
    <add key="AzureRelayConnection" value="Azure relay connection"/>
  </appSettings>
</configuration>